<%- include('layouts/default'); -%>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Tailwind </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur et est sed felis aliquet sollicitudin</p>
                <span>
                    <p>login with social media</p>
                    <a href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
                </span>
            </div>
        </div>


        <div class="right">
            <div class="message "></div>
            <% if (message) { %>
                <div class="message bg-danger" >
                    <%= message %>
                </div>
            <% } %>
            <h5>Login</h5>
            <p>Don't have an account? <a href="/register">Create Your Account</a> it takes less than a minute</p>
            <form method="POST" id="loginform" action="/login">
            <div class="inputs">
                <input type="text" name="email" placeholder="Email">
                <br>
                <input type="password" name="password" placeholder="Password">
            </div>
            
            <br><br>

            <div class="remember-me--forget-password">
                <!-- Angular -->
                <label>
                    <input type="checkbox" name="item" checked />
                    <span class="text-checkbox">Remember me</span>
                </label>
                <a href="/forgot-password">Forgot Password</a>
            </div>

            <br>
            <button type="submit" id="loginbtn">Login</button>
            </form>    
        </div>
       

    </div>
    <!-- partial -->
   
  
<%- include('layouts/footer'); -%>